* {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: #353030;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation {
  display: inline-block;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background: #1E1717;
  width: 100%;
  padding: 15px;
}

.stylesheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

.stylesheet h1 {
  color: white;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  width: 100%;
  text-align: Center;
}

.container {
  display: inline;

}

.container table{
  border-spacing: 200px 10px;

}

.grading img {
  width: 350px;
  height: 250px;
}

.container h2{
  font-size: 30px;
  padding-top: 15px;
  font-style: italic;
  color: orange;
  text-align: left;
  
}

.grading {
  padding-top: 50px;
}
.grading h2 {
  display: block;
  padding: 50px;
  text-align: center;

}
.grading a {
  display: inline-block;
  padding: 70px;
}


.chase{
  height: 400px;
  width: 600px;
  padding-right: 40px;
  padding-left: 100px;
  float: left;
  display: inline;
}

.stylesheet h3 {
  margin-top: 30px;
  color: white;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 40px;
  display: inline;
  
}


.navigation li {
  float: left;
  list-style: none; /* remove the bullet points */
  margin-right: 20px; /* add some margin between the navigation items */
  font-size: 25px; /* adjust the font size as desired */
  padding: 10px;
  color: white;
  justify-items: center;
 }



a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

